/* Set height of body and the document to 100% to enable "full page tabs" */
body {
    background-color: rgb(80, 53, 53);
  }

  #content {
    display: flex;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    text-align: center;
  }

.landing-page {
  margin: 25px;
}

.landing-page-copy {
  color: whitesmoke;
  font-family: Arial;
}